{# Fetch news/content Web Pages under the specified parent page #}
{% set page_doc = frappe.get_doc("Web Page", blog_category) %}
{% set posts = frappe.get_all("Web Page", filters={"published": 1, "route": ["like", page_doc.route + "/%"]}, fields=["name", "title", "main_section", "route", "meta_image", "modified"], order_by="modified desc", limit=limit) %}
<a href="{{page_doc.route}}">
  <h2><span class="text-dark">{{ _(page_doc.title) }}</span></h2>
</a>
<p class="section-description">{{ _(page_doc.main_section_md or page_doc.main_section or "") }}</p>
<div class="blog-list-content">
  <div data-doctype="Web Page" data-txt="[notxt]">
    <div id="blog-list" class="blog-list result row">
      {% for post in posts %}
      <div class="blog-card col-sm-12 col-md-4">
        <div class="card h-100">
          <div class="card-img-top">
            {% if post.meta_image %}
            <img src="{{ post.meta_image }}" alt="{{post.title}} - Cover Image">
            {% else %}
            <div class="default-cover">
              <span>{{ post.title }}</span>
            </div>
            {% endif %}
          </div>
          <div class="card-body">
            <div>
              <h5 class="mt-1"><span class="text-dark">{{ post.title }}</span></h5>
              <p class="post-description text-muted">{{ (post.main_section | striptags)[:150] if post.main_section else "" }}...</p>
            </div>
            <div class="blog-card-footer">
              <div class="text-muted">
                <div class="small">
                    {{ frappe.format_date(post.modified) }}
                </div>
              </div>
            </div>
          </div>
          <a class="stretched-link" href="/{{ post.route }}"></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="btn btn-light btn-more btn hidden">Load More</button>
  </div>
</div>